* { box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.organizacao-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;

  background-color: black;
  height: 100vh;
}

.idai {
  margin-bottom: 1em;
}



